Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.4
Flask-WTF==1.2.1
Werkzeug==2.3.7
Flask-Login==0.6.3
email-validator==2.1.0.post1
nltk==3.8.1
requests==2.32.3
beautifulsoup4==4.13.4
numpy==2.2.5
Flask-Testing==0.8.1
coverage==6.4.2
selenium==4.1.0
